Gemfile.lock
tmp/
*.swp
pkg/
.DS_Store
spec/testdata/TestingDependencies/Sample.Commands/Sample.Commands.nuspec
spec/testdata/Project/Sample.Nuget.nuspec
spec/testdata/TestingDependencies/Sample.Core/Sample.Core.nuspec

*.userprefs
/.idea/
