language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - jruby
script: "bundle exec rake specs:assemblyinfo specs:albacoremodel specs:attrmethods"
bundler_args: --without=wiki
notifications:
  email: false
gemfile: Gemfile
